body {
    cursor: url(../cursor-1.png), auto;
}

.kit-selectable {
    cursor: url(../cursor-3.png), text;
}

/* Default style */
kit-button, .kit-button {
    cursor: url(../cursor-1.png), default;
}

/* Pointer style */
.kit-toggle input+label, kit-btn, .btn, kit-hl, .kit-hyperlink, kit-hl-alt, .kit-hl-alt, .kit-button-alt, kit-button-alt {
    cursor: url(../cursor-2.png), pointer;
}

/* Text style */
.textbox {
    cursor: url(../cursor-3.png), text;
}