.winc-fivr{
    min-width: 100px;
    padding: 0px;
}

#fivr-open{
    min-width: 100%;
    min-height: 100%;
}

#fivr-explore{
    padding: 5px;
}

#fivr-preview{
    float: left;
    padding: 5px;
    padding-top: 25px;
    box-sizing: border-box;
    border: 1px solid #909090;
    background: #e0e0e0;
    border-radius: 5px 0 0 5px;
    margin: 5px 0;
    box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,.3);
}
#fivr-preview:before{
    position: absolute;
    top: 0px;
    content: "ファイルのプレビュー";
}
#fivr-files{
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    min-height: 300px;
    max-height: calc(100% - 46px);
    border: 1px solid #909090;
    margin: 5px 0;
    overflow: scroll;
}
#fivr-filename{
    width: calc(100% - 75px);
}
.fivr-file{
    padding: 2px 5px;
    max-height: 25px;
    overflow: hidden;
}
.fivr-file:hover{
    background: #e0e0e0;
}
.kit-darkmode .fivr-file:hover{
    background: #535353;
}
.fivr-file-type{
    font-size: 13px;
    padding: 0px 10px;
    color: dodgerblue;
}
.fivr-file-delete{
    float: right;
    font-size: 14px;
    color: dodgerblue;
    text-decoration: underline;
}
#fivr-path{
    width: calc(100% - 132px);
}

.fivr-text{
    background: #f0f0f0;
    padding: 5px;
}

#fivr-menu{
    background: #e0e0e0;
}

#fivr-menu a{
    display: inline-block;
    padding: 1px 5px;
    cursor:url(../cursor-1.png), default;
}

#fivr-menu a:hover{
    background: dodgerblue;
    color: white;
}