.winc-ntflist{
  width: 400px;
  max-height: 600px;
}
.ntflist-a{
  font-size: 12px;
  border: 1px solid dodgerblue;
  color: dodgerblue;
  border-radius: 4px;
  margin-right: 4px;
  padding: 0 4px;
}
.ntflist-b{
  font-weight: 700;
}
.ntflist-c{
  display: block;
}
.ntflist-d:before{
  content: "送信元：";
}
.ntflist-e:before{
  content: "送信日時：";
}
