.winc-settings{
    padding: 8px;
    background: rgba(255,255,255,.9);
    backdrop-filter: blur(5px);
}
.window .winc-settings .textbox{
    width: calc(100% - 85px);
}
.winc-settings h4{
    font-size: 18px;
    margin: 10px 0;
    border-left: 10px solid dodgerblue;
    padding: 2px 6px;
    font-weight: 400;
    background: #ffffff;
    box-shadow: 0px 1px 5px 0 rgba(0,0,0,.15);
}
.winc-settings h3 span{
    position: absolute;
    color: dodgerblue;
    right: 5px;
    top: 5px;
    font-size: 80px;
    opacity: .3;
}
.winc-settings .btn .fa-chevron-right{
    float: right;
    position: relative;
    top: 15px;
}
.settings-wallpapers{
    text-align: center;
    display: inline-block;
    margin : 4px;
}
.settings-wallpapers img{
    display: block;
    max-width: 150px;
    margin: 2px;
}

.winc-settings .textbox{
    width: 350px;
    font-size: 14px;
}

.winc-settings kit-btn{
    float: left;
    font-size: 18px;
    margin-right: 10px;
}

.winc-settings h3{
    text-align: right;
    padding: 0px;
    font-size: 34px;
    font-weight: 100;
    border-bottom: 1px solid #909090;
    margin-bottom: 20px;
}
.winc-settings .settings-license-area{
    background: silver;
    padding: 3px;
    border-radius: 6px;
    height: 150px;
    width: 100%;
    box-sizing: border-box;
}
.settings-advanced-envar{
    width: 100%;
    height: 350px;
    max-height: 70vh;
}
.winc-settings .settings-envar1{
    font-weight: 900;
    display: inline;
    background: #d0d0d0;
    padding: 0px 4px;
}
.winc-settings .settings-envar2{
    border-bottom : 2px solid #d0d0d0;
}
.winc-settings .settings-advanced-envar .kit-hyperlink{
    float: right;
    margin-right: 10px;
}

#settings-envar-key, #settings-envar-val{
    width: 150px;
    margin-bottom: 10px;
}
.winc-settings textarea{
    background: white;
    height: 120px;
}
.settings-open-userpage .fa-user{
    color: dodgerblue;
    font-size: 38px;
    margin: 8px;
    float: left;
}
.settings-open-userpage #settings-user-username{
    font-size: 20px;
    font-weight: 600;
}
.kit-darkmode.winc-settings h4{
    background: #606060;
}
