/* window */
.winc-darkmode{
    background: #181818 !important;
    color: #f0f0f0;
}
.wt{
    background: #000000;
    color: #f0f0f0;
}
.windowactive > .wt{
    background: #000000;
    color: limegreen;
}
.wm, .wx{
    color: #f0f0f0;
}
/* UI */
header{
    background: #303030;
    color: #f0f0f0;
}
#kit-milp{
    background: #303030;
    color: #f0f0f0;
}
#kit-context{
    background: #303030;
    color: #f0f0f0;
}
.dropdown{
    background: #303030;
    color: #f0f0f0;
}
.dropdown-clock-canvas{
    filter: invert(100%);
}
footer{
    background: #303030;
}
#footer-noti{
    color: #f0f0f0;
}
#task-ctx{
    background: #303030;
    color: #f0f0f0;
}
/* system parts */
.winc-darkmode .btn{
    background: #303030;
    color: #f0f0f0;
}
.winc-darkmode .btn:hover{
    background: #505050;
}
.winc-darkmode .textbox{
    background: #202020;
    color: #f0f0f0;
    border-color: #f0f0f0;
}
.winc-darkmode .textbox:focus{
    background: #505050;
}
.winc-darkmode .kit-toggle:hover, #notifications .kit-toggle:hover, .dropdown .kit-toggle:hover{
    background: #404040;
}
/* notification */
#last-notification{
    background: #303030;
    color: #f0f0f0;
}
#notifications{
    background: rgba(0,0,0,.8);
    color: #f0f0f0;
}
.notis{
    background: #303030 !important;
    color: #f0f0f0;
}