@font-face {
	font-family: "Noto";
	src: url("fonts/NotoSansMonoCJKjp-Regular.otf");
}

body {
	margin: 0px;
	font-size: 16px;
	font-family: 'Noto Sans JP', sans-serif;
	overscroll-behavior: none;
	cursor: url(../cursor-1.png), auto;
}

section {
	transition: none;
}

.selected-section {
	box-shadow: none;
}

.selected-section:before {
	text-shadow: none;
}

#lock-user-icon {
	border: 3px solid #ffffff;
	box-shadow: none;
}

#lock-user-icon:after {
	display: none;
}

#desktop-l .textbox {
	border: none;
	padding: 10px;
}

header {
	background: #BEE5F7;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
}

header a {
	cursor: url(../cursor-2.png), pointer;
	padding: 3px 4px;
}

header a:hover {
	color: dodgerblue;
}

.dropdown {
	background: #ffffff;
	box-shadow: none;
	border-radius: 0;
}

#dropdown-clock {
	right: 56px;
}

#dropdown-sound {
	right: 140px;
	padding: 6px;
}

#dropdown-sound-slider {
	margin: 10px;
	width: 180px;
}

.ui-slider-horizontal {
	box-shadow: none;
	border-radius: 0px;
	background: #e0e0e0;
}

.ui-slider-handle {
	box-shadow: none;
	border-radius: 2px;
	border: 1px solid #3d3d3d !important;
}

.desktop-icons {
	display: flex;
	flex-wrap: wrap;
	padding: 4px;
}

.desktop-icon {
	border-radius: 0;
}

.desktop-icon:hover {
	background: black;
}

.desktop-icon img {
	display: block;
	margin: 0 auto;
	height: 50px;
}

.home-icon:before {
	line-height: 0px;
	display: block;
	font-size: 30px;
	height: 25px;
}

.home-icon {
	border: 1px solid transparent;
	font-size: 13px;
	display: inline-block;
	color: white;
	cursor: url(../cursor-1.png), default;
	margin: 10px 0px;
	padding: 3px 0px;
	text-align: center;
	width: 100px;
}

.home-icon:hover {
	border: 1px solid #ffffff;
	background: black;
}

.home-fa {
	margin-bottom: 5px;
	display: block;
	font-size: 30px;
}

footer {
	background: #c0c0c0;
}

footer #launch:hover {
	background: #1741FF;
}

footer .task:hover {
	background: #e0e0e0;
}

footer .task img {
	float: left;
	height: 24px;
	width: 24px;
	margin-right: 4px;
}

footer .t-active {
	background: #6060c0;
	color: #ffffff;
	box-shadow: none !important;
	border-top: 5px solid rgb(100, 245, 100) !important;
}

footer .t-active:hover {
	background: #9797e9;
	color: #ffffff;
}

footer .task-min {
	font-weight: 900;
}

footer .task-min:after {
	content: "";
	display: inline-block;
	background: limegreen;
	float: right;
	margin-top: 6px;
	width: 12px;
	height: 12px;
	border: none;
	border-radius: 0;
}

#footer-noti:hover {
	color: dodgerblue;
	text-shadow: none;
}

#footer-tasks {
	color: #ffffff;
	text-shadow: none;
	font-size: 15px;
}

#footer-tasks:hover {
	color: dodgerblue;
}

#notifications {
	background: #f0f0f0;
	box-shadow: none;
}

#notifications .notis {
	border: 1px solid #a0a0a0;
	border-radius: 0;
}

#notifications .notis_buttons a {
	border-radius: 0;
}

#tasks {
	padding-left: 28px;
}

.window {
	box-shadow: none;
	background: #FFF7D4;
	border: 1px solid #909090;
	transition: none;
	border-radius: 0;
}

.windowactive {
	border: 1px solid #3d3d3d;
}

.windowactive .wt {
	background: #c7d0ff;
}

.winc {
	border-radius: 0;
}

.wt {
	border-radius: 0;
}

.wt:before {
	color: white;
	text-shadow: 0px 1px 2px black;
}

.wt img {
	width: 18px;
	height: 18px;
	float: left;
	margin: 3px;
}

.wtmaximize {
	display: none;
}

.windowactive span {
	opacity: 1.0;
}

.wx:hover {
	border-radius: 0;
}

.kit-button,
kit-button {
	display: inline-block;
	cursor: url(../cursor-1.png), default;
	line-height: 200%;
	background: dodgerblue;
	color: #ffffff;
	padding: 0px 10px;
	margin: 4px 1px 0px;
	text-decoration: none;
	border: 1px solid #ffffff;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
	transition: none;
}

.kit-button:hover,
kit-button:hover {
	box-shadow: none;
	background: #1875d1;
}

.kit-button:active {
	position: relative;
	top: 1px;
}

#task-ctx {
	box-shadow: none;
	border-radius: 0;
	border-color: #909090;
}

.btn,
kit-btn {
	cursor: url(../cursor-2.png), pointer;
	border: 1px solid gray;
	margin: 4px 0px;
	padding: 2px 4px;
	background: #f0f0f0;
	box-shadow: none;
	border-radius: 0;
	transition: none;
}

.btn:hover {
	border: 1px solid black;
	background: #e0e0e0;
	box-shadow: none;
}

.textbox {
	cursor: url(../cursor-3.png), text;
	outline: none;
	border: 1px solid #000000;
	font-size: 16px;
	padding: 3px;
	font-family: 'Noto Sans JP', sans-serif;
	border-radius: 0;
	box-shadow: none;
}

#kit-power {
	background: #202020;
}

#kit-power a {
	text-shadow: none;
}

#kit-power a:hover {
	color: cyan;
}


#kit-context {
	border-radius: 0;
	box-shadow: none;
	border: 2px solid #909090;
}

#kit-tasks {
	background: #000030;
}

#kit-tasks:before {
	content: "実行中のアプリケーション ( クリックで強制終了 )";
	display: block;
	color: #ffffff;
}

#kit-tasks .task {
	border-radius: 0;
}

#kit-tasks .task:hover {
	background: #f0f0f0;
	color: #3d3d3d;
}

#launcher {
	background: #3d3d3d;
}

.launcher-app {
	text-shadow: none;
	border-radius: 0;
}

.launcher-app:hover {
	background: black;
}


#last-notification {
	background: #f0f0f0;
	border-radius: 0;
	box-shadow: none;
	border: 2px solid #909090;
}

#last-notification-content {
	font-size: 13px;
}

#last-notification-buttons a {
	border-radius: 0;
}

.kit-fusen {
	box-shadow: none;
	border-radius: 0;
	border: 2px solid #909090;
}

.kit-toggle input+label:after {
	box-shadow: none;
	border: 1px solid #909090;
	transition: none;
}

.kit-toggle input+label:before {
	transform: scale(.75);
	border-radius: 0;
	transition: none;
}
