@font-face {
	font-family: "Noto";
	src: url("fonts/NotoSansMonoCJKjp-Regular.otf");
}

body {
	margin: 0px;
	overflow: hidden;
	font-size: 16px;
	font-family: 'Noto Sans JP', sans-serif;
	overscroll-behavior: none;
	cursor: url(../cursor-1.png), auto;
}

section {
	top: 30px;
	min-height: calc(100% - 70px);
}

#desktop-l {
	text-shadow: 0px 1px 4px black;
}

#desktop-l>.textbox {
	border: none;
	padding: 10px;
}

header {
	background: -moz-linear-gradient(45deg, rgba(204, 255, 216, 1) 0%, rgba(212, 246, 255, 1) 38%, rgba(255, 219, 238, 1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(204, 255, 216, 1)), color-stop(38%, rgba(212, 246, 255, 1)), color-stop(100%, rgba(255, 219, 238, 1)));
	background: -webkit-linear-gradient(45deg, rgba(204, 255, 216, 1) 0%, rgba(212, 246, 255, 1) 38%, rgba(255, 219, 238, 1) 100%);
	background: -o-linear-gradient(45deg, rgba(204, 255, 216, 1) 0%, rgba(212, 246, 255, 1) 38%, rgba(255, 219, 238, 1) 100%);
	background: -ms-linear-gradient(45deg, rgba(204, 255, 216, 1) 0%, rgba(212, 246, 255, 1) 38%, rgba(255, 219, 238, 1) 100%);
	background: linear-gradient(45deg, rgba(204, 255, 216, 1) 0% rgba(212, 246, 255, 1) 38%, rgba(255, 219, 238, 1) 100%);
	opacity: .9;
}

.dropdown {
	background: rgba(255, 255, 255, .9);
}

.ui-slider-horizontal {
	background: linear-gradient(45deg, rgba(255, 135, 241, 1) 0%, rgba(117, 239, 255, 1) 50%, rgba(92, 242, 102, 1) 100%);
}

.desktop-icon {
	text-shadow: 0px 1px 4px black;
	transition: .2s all ease;
}

.desktop-icon:hover {
	background: rgba(0, 0, 0, .5);
	opacity: .8;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .5);
}

footer {
	background: -moz-linear-gradient(top, rgba(179, 220, 237, 1) 0%, rgba(41, 184, 229, 1) 50%, rgba(188, 224, 238, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 220, 237, 1)), color-stop(50%, rgba(41, 184, 229, 1)), color-stop(100%, rgba(188, 224, 238, 1)));
	background: -webkit-linear-gradient(top, rgba(179, 220, 237, 1) 0%, rgba(41, 184, 229, 1) 50%, rgba(188, 224, 238, 1) 100%);
	background: -o-linear-gradient(top, rgba(179, 220, 237, 1) 0%, rgba(41, 184, 229, 1) 50%, rgba(188, 224, 238, 1) 100%);
	background: -ms-linear-gradient(top, rgba(179, 220, 237, 1) 0%, rgba(41, 184, 229, 1) 50%, rgba(188, 224, 238, 1) 100%);
	background: linear-gradient(to bottom, rgba(179, 220, 237, 1) 0%, rgba(41, 184, 229, 1) 50%, rgba(188, 224, 238, 1) 100%);
}

.footermaximize {
	transition: .2s all ease;
}

.footermaximize-hidden {
	bottom: -39px !important;
}

footer #launch {
	border-radius: 0px 20px 0px 0px;
	transition: .2s all ease;
	box-shadow: inset 0px 0px 5px 0 rgba(255, 255, 255, .8);
}

footer #launch:hover {
	padding: 20px 16px;
}

footer .task {
	border-top: 5px solid #303030;
	box-shadow: inset -200px 0px 0px 0px #e0e0e0, inset 200px 0px 0px 0px #e0e0e0;
	transition: .2s all ease;
}

footer .task:nth-child(odd) {
	border-top: 5px solid #606060;
	box-shadow: inset -200px 0px 0px 0px #f0f0f0, inset 200px 0px 0px 0px #f0f0f0;
}

footer .task:hover {
	box-shadow: inset 0px 0px 0px 0px #ccc, inset 0px 0px 0px 0px #ccc;
	border-top: 5px solid dodgerblue;
}

footer .task:active {
	transition: 0s;
}

footer .task img {
	float: left;
	height: 24px;
	width: 24px;
	margin-right: 4px;
}

footer .t-active {
	background: #ffffff;
	color: dodgerblue;
	border-top: 5px solid rgb(100, 245, 100) !important;
}

#footer-tasks:hover {
	text-shadow: 0px 1px 3px dodgerblue;
}

#notifications {
	box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, .4);
	background-color: rgba(255, 255, 255, .9);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

#notifications-show-history {
	text-shadow: 0px 1px 3px #ffffff;
}

#notifications .notis {
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .3);
}

#notifications .notis:hover {
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .3);
}

.window {
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .5);
}

.windowactive {
	animation: activeAnim 1s;
}

.wt {
	background: linear-gradient(#F2F2F2 0%, #D1D1D1 100%);
	background: linear-gradient(45deg, rgba(194, 194, 194, 1) 0%, rgba(235, 235, 235, 1) 50%, rgba(194, 194, 194, 1) 100%);
}

.windowactive>.wt {
	background: linear-gradient(45deg, rgba(255, 201, 248, 1) 0%, rgba(186, 239, 255, 1) 50%, rgba(150, 255, 157, 1) 100%);
}

.winc {
	color: #3d3d3d;
}

#task-ctx {
	background: rgba(255, 255, 255, .9);
	backdrop-filter: blur(20px);
}

.little {
	font-size: 14px;
}

#kit-power {
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
}

#kit-power a {
	transition: .2s all ease;
}

#kit-power a:hover {
	text-decoration: none;
	transform: scale(1.1);
	text-shadow: 0px 0px 30px cyan, 0px 0px 18px cyan, 0px 0px 8px cyan;
}

#kit-context {
	background: rgba(255, 255, 255, .9);
	backdrop-filter: blur(20px);
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .3);
	border-radius: 0px 6px 6px 6px;
}

#kit-context a:hover {
	background: rgba(30, 144, 255, .8);
	color: #ffffff;
}

#last-notification {
	background: rgba(255, 255, 255, .9);
}

#last-notification:hover {
	background: rgb(255, 255, 255);
}

@keyframes activeAnim {
	from {
		box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .7), 0 0 0 0 rgba(50, 200, 90, 1.0);
	}

	to {
		box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .7), 0 0 0px 25px rgba(50, 200, 90, 0);
	}
}
